<body id="form-body">
  <div class="form-overlay"></div>
  <div id="modal-form">
    
    <h2 id="modal-form-header">Welcome to the Disaster Relief App</h2>
    <p id="modal-form-text">We are a small team of developers who have been affected by natural Disasters and wanted to discover a new way to provide help during times of distress.     When we are in a Natural disaster and all type of communications are down the last thing we want to be worried about is if rescuers will pass by your neighborhood or if they will figure out if you need special help.
    The Disaster Relief App was created to help the rescuers locate and give the help everyone one needs more efficient.
    
      In the next Step we will be asking only the most critical inforamtion that rescures need :
    </p>
    <ul>
      <li>Address</li>
      <li>Name</li>
      <li>Age</li>
      <li>Pets</li>
      <li>Disability or Special Condition</li>
      <li>Picture (optional)</li>
    </ul>
    </div>
<div id="home">
   <header id="masthead">
            <div class="container">
                <a href="/form" id="logo"><i class="fas fa-search-location"></i> Find me</a>
                <nav class="cont">
                    <a href="index.handlebars" id="cont"><i class="fas fa-atlas"></i><strong> Rescue
                            Plan</strong></a></a>
                    <button id="myBtn"><i class="fas fa-envelope"></i><strong> Contact</strong></button>
                    <a href="https://iamjpyo.github.io/QRcode/" id="cont"><i class="fas fa-atlas"></i><strong> QR Login</strong></a>
                </nav>
            </div>
        </header>
        <div id="jumbotron-form">
  <div class="container">
    <div class="jumbotron">
  <h4>Disaster Relief When You Most Need It Starts Here</h4>
   <div class="row top-buffer d-flex justify-content-center">
      <div class="col-10">

        <form class="clearfix mb-4" action="POST">
          <div class="form-group" >
            <input type="text" class="form-control" aria-describedby="house-text"
              placeholder="Please enter your Address" id="house-address" name="address">
          </div>
          <button id="submit" class="btn btn-primary float-right">Add Your Address</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>