<body id="form-body">
  <div class="form-overlay"></div>
  <div id="modal-form">I'm the modal window!</div>
<div id="home">
  <div class="container">
    <div class="jumbotron">
  <h4>Disaster Relief When You Most Need It Starts Here</h4>
   <div class="row top-buffer d-flex justify-content-center">
      <div class="col-10">

        <form class="clearfix mb-4" action="POST">
          <div class="form-group" >
            <input type="text" class="form-control" aria-describedby="house-text"
              placeholder="Please enter your Address" id="house-address" name="address">
          </div>
          <button id="submit" class="btn btn-primary float-right">Add Your Address</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>